<%-include("../../views/partials/admin/header")%>
<!-- Bootstrap CSS -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
/>

<link rel="stylesheet" href="../css/adminUsers.css" />

<div class="d-flex">
  <div class="sidebar">
    <h2 class="text-white">Admin Dashboard</h2>
    <a href="/admin">Dashboard</a>
    <a
      id="live-dashboard-button"
      href="/admin/users"
      style="
        background-color: #007bff;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
      "
      >Users</a
    >
    <a href="/admin/category">categories</a>
    <a href="/admin/brands">Brands</a>
    <a href="/admin/addProducts">Add Products</a>
    <a href="/admin/products">Products</a>
    <a href="#">Settings</a>
    <a href="/admin/logout">Logout</a>
  </div>
  <div class="main-content flex-grow-1">
    <div class="container">
      <h1 class="my-4">User Management</h1>
      <!-- Search Bar -->
      <div class="row mb-4">
        <div class="col-md-6">
          <form action="/admin/users" method="get ">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search users..."
                id="searchInput"
                name="search"
              />
              <button class="btn btn-primary" type="submit">Search</button>
            </div>
          </form>
        </div>
      </div>
      <!--breadcrumps -->
      <div class="breadcrumb-container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/admin">Dashboard</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              User Management
            </li>
          </ol>
        </nav>
      </div>

      <!-- User Table -->
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% for(let i=0; i < data.length; i++) { %>
                <tr>
                  <td><%= data[i].name %></td>
                  <td><%= data[i].email %></td>
                  <td><%= data[i].phone %></td>
                  <td>
                    <div>
                      <% if (data[i].isBlocked===false) { %>
                      <button
                        onclick="blockUser('<%= data[i]._id %>')"
                        class="btn btn-warning btn-sm"
                        style="width: 80px"
                      >
                        Block
                      </button>
                      <% } else { %>
                      <button
                        onclick="unblockUser( '<%= data[i]._id %>')"
                        class="btn btn-success btn-sm"
                        style="width: 80px"
                      >
                        Unblock
                      </button>
                      <% } %>
                    </div>
                  </td>
                </tr>
                <% }; %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <% if (currentPage> 1) { %>
        <li class="page-item">
          <a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a>
        </li>
        <% } %> <% for (let i=1; i <=totalPages; i++) { %>
        <li class="page-item <%= (i === currentPage) ? 'active' : '' %>">
          <a class="page-link" href="?page=<%= i %>"> <%= i %> </a>
        </li>
        <% } %> <% if (currentPage < totalPages) { %>
        <li class="page-item">
          <a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
        </li>
        <% } %>
      </ul>
    </nav>
  </div>
</div>

<footer>
  <div class="container text-center"></div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<!-- SweetAlert2 CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<!--sweet alert-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="../../admin.js/customer.js"></script>
<%-include("../../views/partials/admin/footer")%>