<%-include("../../views/partials/user/header")%>
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="../../css/shop.css">



</head>

<section class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>Shop</h4>
          <div class="breadcrumb__links">
            <a href="/">Home</a>
            <span>Shop</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Shop Section Begin -->
<section class="shop">
  <div class="container">
    <div class="row">
      <!-- Shop Sidebar -->
      <div class="col-lg-3">
        <div class="shop__sidebar">
          <form method="GET" action="/shop" id="filterForm">
            <button class="btn btn-primary text-white"> <a href="/shop">clear Filters</a> </button>
            <!-- Sort Dropdown -->
            <div class="shop__sidebar__accordion">
              <select name="sort" class="form-control" onchange="document.getElementById('filterForm').submit()">
                <option value="priceLowToHigh" <%= selectedSort === 'priceLowToHigh' ? 'selected' : '' %>>Price: Low to High</option>
                <option value="priceHighToLow" <%= selectedSort === 'priceHighToLow' ? 'selected' : '' %>>Price: High to Low</option>
                <option value="alphabeticalAZ" <%= selectedSort === 'alphabeticalAZ' ? 'selected' : '' %>>Alphabets: A-Z</option>
                <option value="alphabeticalZA" <%= selectedSort === 'alphabeticalZA' ? 'selected' : '' %>>Alphabets: Z-A</option>
                <option value="newArrivals" <%= selectedSort === 'newArrivals' ? 'selected' : '' %>>New Arrivals</option>
                <option value="oldArrivals" <%= selectedSort === 'oldArrivals' ? 'selected' : '' %>>Old Arrivals</option>
              </select>
            </div>            

            <!-- Search Bar -->
            <div class="shop__sidebar__search">
              <input type="text" name="search" placeholder="Search..." 
                onkeypress="if(event.key === 'Enter') document.getElementById('filterForm').submit()">
            </div>

            <!-- Category Filter -->
            <div class="shop__sidebar__accordion">
              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                </div>
                <div id="collapseOne" class="collapse show">
                  <div class="card-body">
                    <ul>
                      <% for (let i = 0; i < category.length; i++) { %>
                        <li>
                          <input type="radio" name="category" value="<%= category[i]._id %>" 
                            <%= selectedCategory == category[i]._id ? 'checked' : '' %> 
                            onchange="document.getElementById('filterForm').submit()">
                          <%= category[i].name %>
                        </li>
                      <% } %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Brand Filter -->
            <div class="shop__sidebar__accordion">
              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                </div>
                <div id="collapseTwo" class="collapse show">
                  <div class="card-body">
                    <ul>
                      <% for (let i = 0; i < brand.length; i++) { %>
                        <li>
                          <input type="radio" name="brand" value="<%= brand[i]._id %>" 
                            <%= selectedBrand == brand[i]._id ? 'checked' : '' %> 
                            onchange="document.getElementById('filterForm').submit()">
                          <%= brand[i].brandName %>
                        </li>
                      <% } %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Price Filter -->
            <div class="shop__sidebar__accordion">
              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                </div>
                <div id="collapseThree" class="collapse show">
                  <div class="card-body">
                    <ul>
                      <li>
                        <input type="radio" name="priceRange" value="0-500" 
                          <%= selectedPriceRange === '0-500' ? 'checked' : '' %> 
                          onchange="document.getElementById('filterForm').submit()"> ₹0 - ₹500
                      </li>
                      <li>
                        <input type="radio" name="priceRange" value="500-1000" 
                          <%= selectedPriceRange === '500-1000' ? 'checked' : '' %> 
                          onchange="document.getElementById('filterForm').submit()"> ₹500 - ₹1000
                      </li>
                      <li>
                        <input type="radio" name="priceRange" value="1000-1500" 
                          <%= selectedPriceRange === '1000-1500' ? 'checked' : '' %> 
                          onchange="document.getElementById('filterForm').submit()"> ₹1000 - ₹1500
                      </li>
                      <li>
                        <input type="radio" name="priceRange" value="1500-10000" 
                          <%= selectedPriceRange === '1500-10000' ? 'checked' : '' %> 
                          onchange="document.getElementById('filterForm').submit()"> ₹1500 - ₹10000
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Size Filter -->
            <div class="shop__sidebar__accordion">
              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                </div>
                <div id="collapseFour" class="collapse show">
                  <div class="card-body">
                    <ul>
                      <% const sizes = ['S', 'M', 'L', 'XL', 'XXL']; %>
                      <% sizes.forEach(size => { %>
                        <li>
                          <input type="radio" name="size" value="<%= size %>" 
                            <%= selectedSize === size ? 'checked' : '' %> 
                            onchange="document.getElementById('filterForm').submit()"> <%= size %>
                        </li>
                      <% }); %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Color Filter -->
            <div class="shop__sidebar__accordion">
              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseFive">Color</a>
                </div>
                <div id="collapseFive" class="collapse show">
                  <div class="card-body">
                    <ul>
                      <% const colors = ['Black', 'White', 'Red', 'Blue', 'Green', 'Yellow']; %>
                      <% colors.forEach(color => { %>
                        <li>
                          <input type="radio" name="color" value="<%= color %>" 
                            <%= selectedColor === color ? 'checked' : '' %> 
                            onchange="document.getElementById('filterForm').submit()"> <%= color %>
                        </li>
                      <% }); %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Product Grid -->
      <div class="col-lg-9">
        <div class="product__filter">
          <% for (let i=0; i < product.length; i++) { %>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="product-cart-wrap">
                <div class="product-img-action-wrap">
                  <div class="product-img">
                    <a href="/productDetails/<%= product[i]._id %>">
                      <img class="img-fluid" src="<%= product[i].productImage[0] %>" alt="<%= product[i].productName %>">
                    </a>
                  </div>
                </div>

                <div class="product-content-wrap">
                  <h6 class="product-name">
                    <%= product[i].productName %>
                  </h6>

                  <% if (product[i].combos && product[i].combos.length> 0) { %>
                    <% for (let j=0; j < product[i].combos.length; j++) { %>
                      <h5 class="product-price">₹<%= product[i].combos[j].salePrice %></h5>
                      <p class="product-size-color">Size: <%= product[i].combos[j].Size %></p>
                      <p class="product-size-color">Colour: <%= product[i].combos[j].Colour %></p>
                      <% break; %>
                    <% } %>
                  <% } else { %>
                    <h5 class="product-price">₹ Not Available</h5>
                  <% } %>

                  <button class="btn btn-primary" onclick="addToCart('<%=product[i]._id%>','<%=product[i].combos[0]._id%>')">
                    Add to Cart
                  </button>
                </div>
              </div>
            </div>
          <% } %>
        </div>

        <!-- Pagination -->
        <div class="pagination">
          <% if (currentPage > 1) { %>
            <a class="btn" href="/shop?page=<%= currentPage - 1 %>">Prev</a>
          <% } %>

          <% for (let i=1; i <=totalPages; i++) { %>
            <a class="btn <%= currentPage === i ? 'active' : '' %>" href="/shop?page=<%= i %>">
              <%= i %>
            </a>
          <% } %>

          <% if (currentPage < totalPages) { %>
            <a class="btn" href="/shop?page=<%= currentPage + 1 %>">Next</a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Shop Section End -->

<%-include("../../views/partials/user/footer")%>

<!-- Js Plugins -->
<script>
  function validateForm() {
    const sortOption = document.querySelector('select[name="sort"]').value;
    if (!sortOption) {
      alert('Please select a sorting option!');
      return false; // Prevent form submission
    }
    return true; // Allow form submission
  }
</script>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../../user.js/main.js"></script>
</body>

</html>